.container{
    display:grid;
    border:1px solid red;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 10fr 1fr;
    height:100vh;
    
    
}
.sidebar{
    grid-column: 1;
    grid-row: 1 /  4;

    font-size:larger;
    
    
    background-color: lightblue;
    color: white;
}

.dashboard{
    display:flex;
    flex-grow:1;
    height:100%;
    justify-content: center;
    
    flex-direction:column;
    align-items: center;
}

.header-content{
    border: 2px solid black;
    grid-column:2;
    grid-row: 1;
}

.main-content{
    grid-column: 2;
    grid-row: 2;
    border: 3px solid red;
}