.container{
    display:grid;
    border:1px solid red;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 10fr 1fr;
    height:100vh;
    
    
}
.sidebar{
    grid-column: 1;
    grid-row: 1 /  4;

    font-size:larger;
    
    
    background-color:cornflowerblue;
    color: white;
}

.dashboard{
    display:flex;
    flex-grow:1;
    height:100%;
    justify-content: space-around;
    
    flex-direction:column;

}

.dash{
    display:flex;
    align-items: center;
    
}

.menu{
    display:flex;
    
    flex-direction: column;
    justify-content: space-around;
    flex-shrink: 1;

}


.header-content{
    border: 2px solid black;
    grid-column:2;
    grid-row: 1;
}

.main-content{
    grid-column: 2;
    grid-row: 2;
    border: 3px solid red;
}

li{
    list-style-type:none;
    padding:10px;  
}
i{
    padding:10px;
}

a{
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #153642;
    color: #bdd7e0;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a:link{
    color:none;
}
a:visited{
    color:white;
}
a:active{
    color:none;
}
a:hover{
    box-shadow: inset 100px 0 0 0 #123d4d;
    color: white;
}